@{
    ViewBag.Title = "Home Page";
}

<main>
    <link href="~/Content/landing_page.css" type="text/css" rel="stylesheet" />
</main>

<div class="container">
    <div class="jumbotron">
        <div class="container landing-jumbo-content">
            <h1>Information Systems</h1>
            <p class="lead">In a world of growing technology, take the lead and put it at your fingertips. It's fun, trust us.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

    </div>
</div>

<!-- 'Degrees' Section -->
<div class="container section">
    <div class="row">
        <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <hr class="bar" />
            <div class="clearfix"></div>
            <h2>Degrees</h2>
            <p>Explore your future in Information Systems with our various degree programs. Find the one that works best for you and start living your dream.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Explore</a></p>
        </div>
        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <img class="img-responsive img-thumbnail" src="~/img/degree.jpg" alt="degree" />
        </div>
    </div>
</div>
<!-- /'Degrees' Section -->

<hr />

<!-- 'About Us' Section -->
<div class="container section-alt">
    <div class="row">
        <div class="col-md-4 col-md-push-6 col-sm-5 col-sm-push-6 col-xs-10 col-xs-offset-1">
            <hr class="bar" />
            <div class="clearfix"></div>
            <h2>About Us</h2>
            <div class="description">
                <p>Our department is dedicated to giving you every resource to jumpstart your career and achieve your dreams. Your preperation and success is our passion.</p>
            </div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Meet Us</a></p>
        </div>
        <div class="col-md-4 col-md-pull-5 col-sm-5 col-sm-pull-6 col-xs-10 col-xs-offset-1">
            <img class="img-responsive img-thumbnail" src="~/img/business-woman.jpg" alt="business woman" />
        </div>

    </div>
</div>
<!-- /'About Us' Section -->

<hr />

<!-- 'Need Help?' Section -->
<div class="container section">
    <div class="row">
        <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <hr class="bar" />
            <div class="clearfix"></div>
            <h2>Need Help?</h2>
            <p>Need more informaton or need help making a plan? Reach out and we'll do all that we can to help you along this journey. </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Say "Hi"</a></p>
        </div>
        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <img class="img-responsive img-thumbnail" src="~/img/handshake_forward.jpg" alt="handshake_forward" />
        </div>
    </div>
</div>
<!-- /'Need Help?' Section-->